body {
	margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 4vh;
  background-image: url("../images/background.jpg");
  background-position: right 0 top 0;
  background-repeat: no-repeat;
  background-size: auto  100%;
  background-attachment: fixed;
  color: #fff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0vh;
  text-shadow: 2px 1px 1px black;
  color: #ffd800;
  font-size: 9vh;
  margin-bottom: 5vh;
  text-transform: uppercase;
}

.composition {
  font-size: 4vh;
  font-weight: 900;
  text-align: center;
}

ul {
  padding: 3vh;
  font-size: 2.6vh;
  line-height: 4vh;
}

ul:after {
  content: "";
  display: block;
  width: 60%;
  height: 0.5vh;
  margin: 1.5% auto 10%;

  background-color: #fff;
}

li {
  padding-bottom: 2vh;
}

.container {
  padding: 2vw;
  background-color: #242424;
  max-width: 50vw;
}

.step__block:after {
  content: "";
  display: block;
  width: 60%;
  height: 0.5vh;
  margin: -5% auto 10%;

  background-color: #ffd800;
}

/* left step */

.step__image__left {
  width: 50%;
  border: 1vh solid #4b4b4b;
}

.step__text__left {
  width: 25vw;
  font-weight: 300;
  font-size: 3vh;
  margin-left: 10vh;
  text-align: right;
}

.step__left{
  width: 100%;
  position: relative;
  display: flex; 
  align-items: center;
  padding-bottom: 17vh;
  padding-left: 3vh;
  overflow: hidden;
}

/* right step*/

.step__image__right {
  width: 50%;
  border: 1vh solid #4b4b4b;
  margin-left: auto;
}

.step__text__right {
  width: 25vw;
  font-weight: 300;
  font-size: 3vh;
  margin-right: 10vh;
}

.step__right{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 17vh;
}
