body {
	margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url("../images/background.jpg");
  background-position: right 0 top 0;
  background-size: auto  100%;
  background-attachment: fixed;

  color: #fff;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.1em;
  text-align: center;
  color: #ffd800;
  font-size: 300%;
  text-transform: uppercase;
}

.composition {
  font-size: 40px;
  line-height: 1em; 
  text-align: center;
}

ul {
  font-size: 20px;
}

ul:after {
  content: "";
  display: block;
  width: 60%;
  height: 0.4vh;
  margin: 5% auto 10%;

  background-color: #fff;
}

li {
  padding-bottom: .8em;
  line-height: 1.6em;
}

.container {
  padding: 3vh;
  background-color: #242424;
  max-width: 1000px;
  min-width: 30vh;
}

.step__block:after {
  content: "";
  display: block;
  width: 70%;
  height: .4vh;
  margin: 10% auto 10%;

  background-color: #ffd800;
}

/* left step */

.step__image__left {
  width: 500px;
  border: 2px solid #4b4b4b;
}

.step__text__left {
  font-size: 25px;
  padding-left: 25px;
  padding: 4vh;
  padding-right: 3vh;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.step__left{
  display: flex; 
  align-items: center;
}

/* right step*/

.step__image__right {
  width: 500px;
  border: 2px solid #4b4b4b;
}

.step__text__right {
  font-size: 25px;
  padding-right: 25px;
  padding: 4%;
  padding-left: 3vh;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.step__right{
  display: flex; 
  align-items: center;
  flex-direction: row-reverse;
}

@media (max-width: 700px) {
  .step__right{
    display: inline;
  }
  .step__left {
    display: inline;
  }

  .step__image__right {
    width: 100%;
  }
  .step__image__left {
    width: 100%;
  }
}